<nav class="navbar navbar-expand-lg navbar-light bg-red">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.svg" alt="" />
        </a>
        <!-- botao mobile -->
        <div class="btn-group navbar-toggler" style="padding: 0">
            <a class="btn btn-outline-success" style="width: 8em; background: #39b100; color: #fff">
                Nova Pizza</a>
            <a class="btn btn-outline-success disabled" style="background: #41c900; color: #fff"><i
                    class="far fa-plus-square" style="width: 16px; height: 20px"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <div class="d-flex">
                <!-- Button trigger modal -->
                <div class="btn-group">
                    <a class="btn btn-outline-success" (click)="resetForm()" data-bs-toggle="modal" data-bs-target="#exampleModal" href=""
                        style="width: 8em; background: #39b100; color: #fff">
                        Nova Pizza</a>
                    <a class="btn btn-outline-success disabled" style="background: #41c900; color: #fff"><i
                            class="far fa-plus-square" style="width: 16px; height: 20px"></i></a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Nova Pizza</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row g-3" (ngSubmit)="onSubmit()" [formGroup]="formNovaPizza">
                                    <div class="col-12">
                                        <!-- <label for="inputURL" class="form-label">URL da imagem</label>
                                        <input type="text" class="form-control" id="inputURL" placeholder="Cole o link aqui"> -->
                                        <select formControlName="tamanho" class="form-select"
                                            aria-label="Default select example">
                                            <option value="0">Escolha o tamanho da Pizza</option>
                                            <option value="1">Grande</option>
                                            <option value="2">Média</option>
                                            <option value="3">Pequena</option>
                                        </select>
                                    </div>
                                    <div class="col-9">
                                        <label for="inputSabor" class="form-label">Sabor da pizza</label>
                                        <input formControlName="sabor" type="text" class="form-control" id="inputSabor"
                                            placeholder="Ex: Calabresa" />
                                    </div>
                                    <div class="col-md-3">
                                        <label for="inputPreco" class="form-label">Preço</label>
                                        <input formControlName="valor" type="text" class="form-control" id="inputPreco"
                                            value="R$" />
                                    </div>
                                    <div class="col-12">
                                        <label for="inputDescricao" class="form-label">Descrição da pizza</label>
                                        <input type="text" formControlName="descricao" class="form-control"
                                            id="inputDescricao"
                                            placeholder="Ex: Massa, molho, mussarela, calabresa, cebola roxa e oregano." />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            Save changes
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>