.checkboxDisponivel {
    align-self: center;
    margin: 0 1rem 0 0;
}

.card {
    border: 0 transparent;
}

.card-body {
    background-color: #F0F0F5;
}

.card .list-group-item {
    background-color: #E4E4EB;
}

.btn-toolbar {
    justify-content: space-between;
    margin: 1.5rem 0;
}

.btn {
    border-radius: 10px !important;
}

.card-body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #00000060, #000000);
    opacity: .7;
    display: unset;
}