.checkboxDisponivel {
    align-self: center;
    margin: 0 1rem 0 0;
}

.card {
    border: 0 transparent;
}

.card-body {
    background-color: #F0F0F5;
}

.card .list-group-item {
    background-color: #E4E4EB;
}

.btn-toolbar {
    justify-content: space-between;
    margin: 1.5rem 0;
}

.btn {
    border-radius: 10px !important;
}

.disabled {

  
    background-image: linear-gradient(120deg, #00000060, #000000);
    opacity: .7;

}

.app-card-pizza {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}


.form-switch:before {
    content: 'Disponível';
    /* left: -5rem;
    top: 5px; */
    cursor: default;
    margin-right: 3rem;
}

input#flexSwitchCheckDefault {
    background-color: red;
    width: 3rem;
    height: 1.2rem;
    cursor: pointer;
    border: none;
    background-image: escape-svg($form-switch-checked-bg-image) !important;
}

input#flexSwitchCheckDefault:checked {
    background-color: green;
}

input#flexSwitchCheckDefault:focus {
    border: none;
    box-shadow: none;
    outline: none;
}