<div class="app-card-pizza" [formGroup]="cardsPizza">
    <div formArrayName="pizzas" *ngFor="let pizza of this.pizzas.controls; let i = index" class="card"
        style="width: 22rem;margin-left: 1rem;margin-bottom: 1rem;">
        <div [formGroupName]="i">
            <img src="{{pizza.value.opt.imgUrl}}" class="card-img-top" alt="...">
            <div class="card-body" [class.disabled]="!pizza.value.checked">
                <h5 class="card-title">{{pizza.value.opt.sabor}}</h5>
                <p class="card-text">{{pizza.value.opt.descricao}}</p>
                <h6>R$: <b>{{pizza.value.opt.valor}}</b></h6>
            </div>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">

                        <span class="badge bg-warning text-dark" style="height: 2rem;    text-transform: uppercase;
                    padding: inherit;
                    color: white !important;">{{pizza.value.opt.tamanho}}</span>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group">
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-light">
                                        <img src="../../assets/svgs/pencil.svg" alt="">
                                    </button>
                                </div>
                                <div class="btn-group me-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn btn-light">
                                        <img src="../../assets/svgs/trash.svg" alt="">
                                    </button>
                                </div>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">


                                <div class="form-check form-switch" style="display: flex;
                                flex-flow: row;">
                                    <input class="form-check-input checkbox" type="checkbox" formControlName="checked" id="flexSwitchCheckDefault">
                                    <label class="form-check-label " for="flexSwitchCheckDefault"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>